<html>
    <head>
        <link href="assests/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- <% include partials/nav.ejs %> -->
        <h1>
            Welcome to My page
        </h1>
        <p>
            Hey ninjas
        </p>
    </body>
</html>